<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OfflineMapBook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Esri.ArcGISRuntime" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-100.5.0.0" newVersion="100.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <OfflineMapBook.Properties.Settings>
      <setting name="MmpkDownloadDate" serializeAs="String">
        <value>1900-01-02</value>
      </setting>
      <setting name="MmpkFileName" serializeAs="String">
        <value>OfflineMapbookTest.mmpk</value>
      </setting>
      <setting name="PortalUri" serializeAs="String">
        <value>http://runtime.maps.arcgis.com/sharing/rest</value>
      </setting>
      <setting name="PortalItemID" serializeAs="String">
        <value>b5d32c90c9384187b4b8f041bd698c42</value>
      </setting>
      <setting name="DownloadPath" serializeAs="String">
        <value />
      </setting>
      <setting name="MapPinHeight" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="AuthenticationType" serializeAs="String">
        <value>OAuth</value>
      </setting>
      <setting name="OAuthClientID" serializeAs="String">
        <value>fibBFbcGmC5Tyk7r</value>
      </setting>
      <setting name="OAuthClientSecret" serializeAs="String">
        <value>8dda995e9c094c199418ee73ff0338aa</value>
      </setting>
      <setting name="OAuthRedirectUri" serializeAs="String">
        <value>https://developers.arcgis.com</value>
      </setting>
      <setting name="OAuthRefreshToken" serializeAs="String">
        <value />
      </setting>
    </OfflineMapBook.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
