<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OfflineMapBook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Esri.ArcGISRuntime" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-100.1.0.0" newVersion="100.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <OfflineMapBook.Properties.Settings>
      <setting name="MmpkDownloadDate" serializeAs="String">
        <value>1900-01-02</value>
      </setting>
      <setting name="MmpkFileName" serializeAs="String">
        <value>OfflineMapbookTest.mmpk</value>
      </setting>
      <setting name="PortalUri" serializeAs="String">
        <value>https://rpubs120027.ags.esri.com/portal/sharing/rest</value>
      </setting>
      <setting name="PortalItemID" serializeAs="String">
        <value>769c9e16b2ed43dbbd2d95b43ae3d54c</value>
      </setting>
      <setting name="DownloadPath" serializeAs="String">
        <value />
      </setting>
    </OfflineMapBook.Properties.Settings>
  </userSettings>
</configuration>