<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Esri.ArcGISRuntime.Toolkit" version="100.0.0-beta1" targetFramework="net452" />
  <package id="Esri.ArcGISRuntime.Toolkit.WPF" version="100.0.0-beta1" targetFramework="net452" />
  <package id="Esri.ArcGISRuntime.WPF" version="100.1.0" targetFramework="net452" />
</packages>